* {
    background:     #1e1e2eFF;
    background-alt: #313244FF;
    foreground:     #cdd6f4FF;
    muted:          #6c7086FF;
    accent:         #89b4faFF;
    active:         #a6e3a1FF;
    urgent:         #f38ba8FF;
    selected:       #89b4faFF;
}
