* {
    background:     #1a1b26FF;
    background-alt: #24283bFF;
    foreground:     #c0caf5FF;
    muted:          #565f89FF;
    accent:         #7aa2f7FF;
    active:         #9ece6aFF;
    urgent:         #f7768eFF;
    selected:       #7aa2f7FF;
}
